.custom-nav {
    background-color: #b4b4b4;
    min-height: 100px;
}

.custom-body {
    background-color: #cccccc;
}

.c-array {
    margin-right: 3px;
    text-align: center;
    display: inline-block;
    color: #fff;
    background-color: #3498db;
}